html, body {
  height: 100%;
  width: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  background-color: #2980b9;
  color: #fafafa;
  text-align: center;
  padding: 10px;
}
p
{
  background-color: #ccc;
  padding: 20px;
  text-align: justify;
}
img{
  display: block;
  margin: 0 auto;
}
div{
  width: 100%;
  float: left;
  margin-bottom: 50px;
  padding: 10px;
}
a
{
  background-color: #3498bd;
  padding: 5px;
  text-decoration: none;
  color: #fafafa;
  border-radius: 10px;
}
